/*
 * ============================================================================
 * Table of Contents
 * -----------------------------------------------------------------------
 *     Variables
 *     Mixins
 *     Global Style
 *     Intro Section
 *     Social Links
 *     Row Sections
 *     About Section
 *     Stats Section
 *     Blog Section
 *     Portfolio Section
 *
 * ============================================================================
 */

 /*
    ==========================================================================
    Variables
    ==========================================================================
 */

$primary-color: #0099ff;
$dark-color: #2A2A72;
$heading-font: 'latoregular';
$heading-weight: normal;
$body-font: 'open_sanslight', sans-serif;
$light-background: #fff;
$gutter-width: 20px;
$title-spacing: 20px;
$breakpoints: (
        'small'  : ( min-width:  767px ),
        'medium' : ( min-width:  992px ),
        'large'  : ( min-width: 1200px )
);

// Loader
$t: 0.8s;
$d: $t / 5;
$c1: darken($primary-color, 30);
$c2: $primary-color;
$c3: lighten($primary-color, 30);

/*
    ==========================================================================
    Mixins
    ==========================================================================
 */

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

/*
   ==========================================================================
   Global Style
   ==========================================================================
*/
@font-face {
    font-family: 'latoregular';
    src: url('/css/fonts/Lato-Regular-webfont.eot');
    src: url('/css/fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/Lato-Regular-webfont.woff2') format('woff2'), url('/css/fonts/Lato-Regular-webfont.woff') format('woff'), url('/css/fonts/Lato-Regular-webfont.ttf') format('truetype'), url('/css/fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('/css/fonts/OpenSans-Light-webfont.eot');
    src: url('/css/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/OpenSans-Light-webfont.woff') format('woff'), url('/css/fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('/css/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: $body-font;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-weight;
  color: $primary-color;
  font-family: $heading-font;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}
p {
  line-height: 1.8;
}
img {
    width: 100%;
    height: auto;
}
ul { list-style: none; margin:0; padding: 0; }
a,
a:hover {
  color: $primary-color;
  text-decoration: underline;
  font-weight: bold;
}
a:focus {
  color: $dark-color;
  text-decoration: none;
}
a.button {
  text-decoration: none;
}

.max-width-container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  width: 100%;
}

.button {
  background-color: $primary-color;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
  font-family: latoregular;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.button:hover {
  background-color: lighten($primary-color, 5%);
  //color: $primary-color;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

/*
   ==========================================================================
   Intro Section
   ==========================================================================
*/
.intro {
  background-size: cover;
  background-position: center;
  background-color: #2a2e39;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.intro__image {
    background-image: url(../img/background-image.png);
    background-size: 400px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 120%;
    width: auto;
    height: 300%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, opacity 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation: scrolling-background 8s linear infinite;
    
    @include respond-to('small') {
        background-size: 800px;
    }
}

@keyframes scrolling-background {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,-500px,0);
  }
}

.intro__content {
    text-align: center;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
}

.intro__content-name {
    color: $primary-color;
    font-family: $heading-font;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4em;
  
  @include respond-to('small') {
    font-size: 3em;
  }
}

.intro__title {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.4px;
    font-weight: normal;
    margin: 15px 0;
    text-transform: uppercase;
    word-spacing: 3px;
    
  @include respond-to('small') {
    font-size: 1.8em;
      letter-spacing: 0.5px;
  }
}

.content-div { width: 100% }
/*
   ==========================================================================
   Social Links
   ==========================================================================
*/
.intro__social {
    bottom: 0;
    left: 0;
    margin: 10px 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.fa-social {
    background: none repeat scroll 0 0 $primary-color;
    border: 0px solid #2098f5;
    color: rgb(255, 255, 255);
    height: 42px;
    line-height: 45px;
    text-align: center;
    width: 42px;
    margin-left: 2px;
    margin-right: 2px;
    transition: all .15s ease;
}
.fa-social:hover {
    color: #2098f5;
    background: #fff;
}
.icon rect, .icon line {
  fill: $primary-color;
  stroke: $primary-color;
}

/*
   ==========================================================================
   Sections
   ==========================================================================
*/

section {
  text-align: center;
  
  @include respond-to('small') {
    text-align: inherit;
  }
}

section:not(.intro) {
  padding: 80px 0;
}

.section-title {
  text-align: center;
}

section:nth-child(even) {
  background-color: $dark-color;
}

section:nth-child(odd) h3,
section:nth-child(odd) p, {
  color: $dark-color;
}

.about p,
.blog p {
  color: #fff;
}

section:nth-child(odd):not(:first-child) h2 {
  border-bottom: 3px solid $dark-color;
}

/*
   ==========================================================================
   About Section
   ==========================================================================
*/

.about__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  a:not(.button) {
    color: $primary-color;
    font-weight: bold;
    font-size: 16px;
  }

  @include respond-to('small') {
    text-align: left;
  }
}

.about__title {
  text-align: left;
  margin-bottom: $title-spacing;
}

.about__description {
  text-align: justify;
  @include respond-to('small') {
    text-align: left;
  }
}

.about__headshot {
  width: 250px;
  margin-top: 40px;
  border-radius: 100%;
  border: 10px solid $primary-color;
  max-width: 100%;

  @include respond-to('small') {
    margin-top: 0;
    width: auto;
  }
}

.about__last-updated {
  text-align: left;
  font-size: 12px;
}

.about__description-column {
  width: 100%;
  @include respond-to('small') {
    width: 70%;
  }
}

.about__headshot-column {
  width: 100%;
  @include respond-to('small') {
    width: 30%;
  }
}


/*
   ==========================================================================
   Stats Section
   ==========================================================================
*/

.statistics {
  background-color: $light-background;
}

.statistics .max-width-container {
  text-align: center;
}

.statistics__title {
  padding: 0 10px;
  display: inline-block;
  margin: auto;
  margin-bottom: $title-spacing;
}

.statistics__columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both;
}

.statistics__column {
  margin: 10px;
}

.statistics-column {
  max-width: 440px;
  padding: 10px 20px;
  width: 360px;
  border: 3px solid $dark-color;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  
  @include respond-to('small') {
    padding: 30px 20px;
    width: 100%;
  }
}

.statistics-column__title {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.statistics-column__icon {
  &.fa-clock-o {
    color: $dark-color;
  }

  &.running-man {
    width: 30px;
    height: 30px;
    background: url('../img/running-man-animation.png') left center;
    background-size: cover;
    animation: run .4s steps(5) infinite;
    
    @include respond-to('small') {
      margin-bottom: -5px;  
    }
  }

  &.keyboard {
    width: 60px;
    height: 30px;
    background: url('../img/keyboard-pattern.png') left center;
    background-size: cover;
    animation: type 1.5s steps(10) infinite;
    
    @include respond-to('small') {
      margin-bottom: -7px;
    }
  }

  @keyframes run {
    100% { background-position: -150px; }
  }

  @keyframes type {
    100% { background-position: -600px; }
  }

    &.book {
        height: 30px;
        width: 40px;
        background: url('../img/book.png') center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        @include respond-to('small') {
            margin-bottom: -4px;
        }
    }
}

.statistics-column__icon_left {
  display: block;
  margin: 10px auto;

  @include respond-to('small') {
    display: inline-block;
    margin: 0;

    &.fa-clock-o,
    &.running-man {
      margin-right: 20px;
    }
  }
}

.statistics-column__icon_right {
  display: none;

  @include respond-to('small') {
    display: inline-block;
    margin: 0;

    &.fa-clock-o,
    &.running-man {
      margin-left: 20px;
    }
  }
}

.api {
  text-align: center;
  margin: 20px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.api > *:not(.api__loader) {
  display: none;
}

.api__loader {
  filter: url('#goo');
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  transform: translateY(40px);
  > div {
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: $c2;
    animation: loader $t infinite;
  }

  @for $i from 1 through 5 {
    > div:nth-child(#{$i}) {
      animation-delay: $i * $d;
    }
  }

  @keyframes loader {
    50% {
      transform: translateY(-16px);
      background-color: $c3;
    }
  }
}

.api__data-container {
    &--list {
        padding-left: 40px;
        list-style: disc;
    }
}

.api__data {
    font-size: 2em;
    padding-right: 10px;
    font-weight: bold;
    color: $dark-color;
    
    &--book {
        font-size: 1.2em;
        padding: 0;
        text-align: left;
        margin-bottom: 12px;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.api__data-description {
  position: relative;
  top: -3px;
}

.api__info {
  font-size: .8em;
  font-style: italic;
}

.api__error {
    margin: 0;
}

/*
   ==========================================================================
   Blog Section
   ==========================================================================
*/

.blog .api__loader {
  transform: translateY(80px);
}

.blog__posts {
  display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.blog__title {
  margin-bottom: $title-spacing;
}

.post {
  margin: 40px 0;
    
    @include respond-to('small') {
        width: 50%;

        &:nth-child(even) {
            padding-left: 20px;
        }

        &:nth-child(odd) {
            padding-right: 20px;
        }
    }
}

.post__excerpt {
  max-width: 550px;
  margin: 0 auto 10px;
  text-align: justify;

  @include respond-to('small') {
    max-width: 100%;
    text-align: left;
  }
}

.post__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

  @include respond-to('small') {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.post__title-link {
  color: $primary-color;
}

.post__title {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 0;

  @include respond-to('small') {
    font-size: 24px;
    text-align: left;
  }
}

.post__claps,
.post__reading-time {
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-family: $heading-font;
  white-space: nowrap;
  margin-right: 15px;

  @include respond-to('small') {
    display: inline-block;
  }
}

.post__statistics {
    margin: 10px 0;
}

.post__tags {
    justify-content: center;
    
    @include respond-to('small') {
        justify-content: flex-start;
    }
}

/*
* ==========================================================================
    Portfolio Section
* ==========================================================================
*/

.portfolio__title {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: $title-spacing;
}

.portfolio__description {
  margin-bottom: 40px;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  margin-bottom: 40px;
}

.portfolio-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  
  @include respond-to('small') {
    width: 50%;

    &:nth-child(odd) {
      padding-right: $gutter-width;
    }

    &:nth-child(even) {
      padding-left: $gutter-width;
    }
  }
}

.portfolio-item__description {
  text-align: justify;
}

.portfolio-item__tags {
    margin-bottom: 20px;
    justify-content: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags__tag {
  font-family: $heading-font;
    text-transform: lowercase;
  background-color: #cacadc;
  font-weight: bold;
  color: $dark-color;
  padding: 2px 8px 3px;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 10px;
  white-space: nowrap;
}

.portfolio-image-wrapper {
  position: relative;
  max-width: 500px;
  margin: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.portfolio-buttons {
  width: 100%;
  background: $dark-color;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;

  .button {
    margin: 0;
    padding: 5px 10px;
    
    &.screenshots {
      display: none;
      
      @include respond-to('small') {
        display: inline-block;
      }
    }
  }
}

.carousel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0,0,0,.8);
}

.carousel {
  margin: 0 100px;
}

.carousel-caption {
  position: relative;
  width: 100%;
  left: 0;
  right: unset;
  background-color: $dark-color;
  padding-bottom: 40px;
  bottom: 0;
}

.carousel-indicators {
  bottom: -43px;
  margin: 0;
  background-color: $dark-color;
  width: 100%;
  padding: 20px 0;

  li:hover {
    cursor: pointer;
  }
}

.carousel-control {
  &-prev {
    width: 100px;
    left: -100px;
  }
  &-next {
    width: 100px;
    right: -100px;
  }
}

.carousel-item {
  width: 100%;
  max-width: 800px;
}