/*
 * ============================================================================
 * Table of Contents
 * -----------------------------------------------------------------------
 *     Variables
 *     Mixins
 *     Global Style
 *     Intro Section
 *     Social Links
 *     Row Sections
 *     About Section
 *     Stats Section
 *     Blog Section
 *     Portfolio Section
 *
 * ============================================================================
 */
/*
    ==========================================================================
    Variables
    ==========================================================================
 */
/*
    ==========================================================================
    Mixins
    ==========================================================================
 */
/*
   ==========================================================================
   Global Style
   ==========================================================================
*/
@font-face {
  font-family: 'latoregular';
  src: url("/css/fonts/Lato-Regular-webfont.eot");
  src: url("/css/fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/Lato-Regular-webfont.woff2") format("woff2"), url("/css/fonts/Lato-Regular-webfont.woff") format("woff"), url("/css/fonts/Lato-Regular-webfont.ttf") format("truetype"), url("/css/fonts/Lato-Regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("/css/fonts/OpenSans-Light-webfont.eot");
  src: url("/css/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/OpenSans-Light-webfont.woff") format("woff"), url("/css/fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("/css/fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 1em;
  line-height: 1.4; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: "open_sanslight", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #0099ff;
  font-family: "latoregular"; }

h2 {
  font-size: 2em;
  text-transform: uppercase; }

p {
  line-height: 1.8; }

img {
  width: 100%;
  height: auto; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a,
a:hover {
  color: #0099ff;
  text-decoration: underline;
  font-weight: bold; }

a:focus {
  color: #2A2A72;
  text-decoration: none; }

a.button {
  text-decoration: none; }

.max-width-container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  width: 100%; }

.button {
  background-color: #0099ff;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
  font-family: latoregular;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all .15s ease; }

.button:hover {
  background-color: #1aa3ff;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px); }

/*
   ==========================================================================
   Intro Section
   ==========================================================================
*/
.intro {
  background-size: cover;
  background-position: center;
  background-color: #2a2e39;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.intro__image {
  background-image: url(../img/background-image.png);
  background-size: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: 300%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, opacity 0.6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation: scrolling-background 8s linear infinite; }
  @media (min-width: 767px) {
    .intro__image {
      background-size: 800px; } }

@keyframes scrolling-background {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(0, -500px, 0); } }

.intro__content {
  text-align: center;
  font-size: 1.15em;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 10; }

.intro__content-name {
  color: #0099ff;
  font-family: "latoregular";
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4em; }
  @media (min-width: 767px) {
    .intro__content-name {
      font-size: 3em; } }

.intro__title {
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  margin: 15px 0;
  text-transform: uppercase;
  word-spacing: 3px; }
  @media (min-width: 767px) {
    .intro__title {
      font-size: 1.8em; } }

.content-div {
  width: 100%; }

/*
   ==========================================================================
   Social Links
   ==========================================================================
*/
.intro__social {
  bottom: 0;
  left: 0;
  margin: 10px 0;
  position: absolute;
  width: 100%;
  text-align: center; }

.fa-social {
  background: none repeat scroll 0 0 #0099ff;
  border: 0px solid #2098f5;
  color: white;
  height: 42px;
  line-height: 45px;
  text-align: center;
  width: 42px;
  margin-left: 2px;
  margin-right: 2px;
  transition: all .15s ease; }

.fa-social:hover {
  color: #2098f5;
  background: #fff; }

.icon rect, .icon line {
  fill: #0099ff;
  stroke: #0099ff; }

/*
   ==========================================================================
   Sections
   ==========================================================================
*/
section {
  text-align: center; }
  @media (min-width: 767px) {
    section {
      text-align: inherit; } }

section:not(.intro) {
  padding: 80px 0; }

.section-title {
  text-align: center; }

section:nth-child(even) {
  background-color: #2A2A72; }

section:nth-child(odd) h3,
section:nth-child(odd) p {
  color: #2A2A72; }

.about p,
.blog p {
  color: #fff; }

section:nth-child(odd):not(:first-child) h2 {
  border-bottom: 3px solid #2A2A72; }

/*
   ==========================================================================
   About Section
   ==========================================================================
*/
.about__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; }
  .about__container a:not(.button) {
    color: #0099ff;
    font-weight: bold;
    font-size: 16px; }
  @media (min-width: 767px) {
    .about__container {
      text-align: left; } }

.about__title {
  text-align: left;
  margin-bottom: 20px; }

.about__description {
  text-align: justify; }
  @media (min-width: 767px) {
    .about__description {
      text-align: left; } }

.about__headshot {
  width: 250px;
  margin-top: 40px;
  border-radius: 100%;
  border: 10px solid #0099ff;
  max-width: 100%; }
  @media (min-width: 767px) {
    .about__headshot {
      margin-top: 0;
      width: auto; } }

.about__last-updated {
  text-align: left;
  font-size: 12px; }

.about__description-column {
  width: 100%; }
  @media (min-width: 767px) {
    .about__description-column {
      width: 70%; } }

.about__headshot-column {
  width: 100%; }
  @media (min-width: 767px) {
    .about__headshot-column {
      width: 30%; } }

/*
   ==========================================================================
   Stats Section
   ==========================================================================
*/
.statistics {
  background-color: #fff; }

.statistics .max-width-container {
  text-align: center; }

.statistics__title {
  padding: 0 10px;
  display: inline-block;
  margin: auto;
  margin-bottom: 20px; }

.statistics__columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  clear: both; }

.statistics__column {
  margin: 10px; }

.statistics-column {
  max-width: 440px;
  padding: 10px 20px;
  width: 360px;
  border: 3px solid #2A2A72;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column; }
  @media (min-width: 767px) {
    .statistics-column {
      padding: 30px 20px;
      width: 100%; } }

.statistics-column__title {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

.statistics-column__icon.fa-clock-o {
  color: #2A2A72; }

.statistics-column__icon.running-man {
  width: 30px;
  height: 30px;
  background: url("../img/running-man-animation.png") left center;
  background-size: cover;
  animation: run 0.4s steps(5) infinite; }
  @media (min-width: 767px) {
    .statistics-column__icon.running-man {
      margin-bottom: -5px; } }

.statistics-column__icon.keyboard {
  width: 60px;
  height: 30px;
  background: url("../img/keyboard-pattern.png") left center;
  background-size: cover;
  animation: type 1.5s steps(10) infinite; }
  @media (min-width: 767px) {
    .statistics-column__icon.keyboard {
      margin-bottom: -7px; } }

@keyframes run {
  100% {
    background-position: -150px; } }

@keyframes type {
  100% {
    background-position: -600px; } }

.statistics-column__icon.book {
  height: 30px;
  width: 40px;
  background: url("../img/book.png") center bottom;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (min-width: 767px) {
    .statistics-column__icon.book {
      margin-bottom: -4px; } }

.statistics-column__icon_left {
  display: block;
  margin: 10px auto; }
  @media (min-width: 767px) {
    .statistics-column__icon_left {
      display: inline-block;
      margin: 0; }
      .statistics-column__icon_left.fa-clock-o, .statistics-column__icon_left.running-man {
        margin-right: 20px; } }

.statistics-column__icon_right {
  display: none; }
  @media (min-width: 767px) {
    .statistics-column__icon_right {
      display: inline-block;
      margin: 0; }
      .statistics-column__icon_right.fa-clock-o, .statistics-column__icon_right.running-man {
        margin-left: 20px; } }

.api {
  text-align: center;
  margin: 20px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.api > *:not(.api__loader) {
  display: none; }

.api__loader {
  filter: url("#goo");
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  transform: translateY(40px); }
  .api__loader > div {
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #0099ff;
    animation: loader 0.8s infinite; }
  .api__loader > div:nth-child(1) {
    animation-delay: 0.16s; }
  .api__loader > div:nth-child(2) {
    animation-delay: 0.32s; }
  .api__loader > div:nth-child(3) {
    animation-delay: 0.48s; }
  .api__loader > div:nth-child(4) {
    animation-delay: 0.64s; }
  .api__loader > div:nth-child(5) {
    animation-delay: 0.8s; }

@keyframes loader {
  50% {
    transform: translateY(-16px);
    background-color: #99d6ff; } }

.api__data-container--list {
  padding-left: 40px;
  list-style: disc; }

.api__data {
  font-size: 2em;
  padding-right: 10px;
  font-weight: bold;
  color: #2A2A72; }
  .api__data--book {
    font-size: 1.2em;
    padding: 0;
    text-align: left;
    margin-bottom: 12px; }
    .api__data--book:last-child {
      margin-bottom: 0; }

.api__data-description {
  position: relative;
  top: -3px; }

.api__info {
  font-size: .8em;
  font-style: italic; }

.api__error {
  margin: 0; }

/*
   ==========================================================================
   Blog Section
   ==========================================================================
*/
.blog .api__loader {
  transform: translateY(80px); }

.blog__posts {
  display: none;
  flex-wrap: wrap;
  justify-content: center; }

.blog__title {
  margin-bottom: 20px; }

.post {
  margin: 40px 0; }
  @media (min-width: 767px) {
    .post {
      width: 50%; }
      .post:nth-child(even) {
        padding-left: 20px; }
      .post:nth-child(odd) {
        padding-right: 20px; } }

.post__excerpt {
  max-width: 550px;
  margin: 0 auto 10px;
  text-align: justify; }
  @media (min-width: 767px) {
    .post__excerpt {
      max-width: 100%;
      text-align: left; } }

.post__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }
  @media (min-width: 767px) {
    .post__title-container {
      flex-direction: row;
      justify-content: flex-start; } }

.post__title-link {
  color: #0099ff; }

.post__title {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 0; }
  @media (min-width: 767px) {
    .post__title {
      font-size: 24px;
      text-align: left; } }

.post__claps,
.post__reading-time {
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-family: "latoregular";
  white-space: nowrap;
  margin-right: 15px; }
  @media (min-width: 767px) {
    .post__claps,
    .post__reading-time {
      display: inline-block; } }

.post__statistics {
  margin: 10px 0; }

.post__tags {
  justify-content: center; }
  @media (min-width: 767px) {
    .post__tags {
      justify-content: flex-start; } }

/*
* ==========================================================================
    Portfolio Section
* ==========================================================================
*/
.portfolio__title {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 20px; }

.portfolio__description {
  margin-bottom: 40px; }

.portfolio__items {
  display: flex;
  flex-wrap: wrap; }

.portfolio__item {
  margin-bottom: 40px; }

.portfolio-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  padding: 0; }
  @media (min-width: 767px) {
    .portfolio-item {
      width: 50%; }
      .portfolio-item:nth-child(odd) {
        padding-right: 20px; }
      .portfolio-item:nth-child(even) {
        padding-left: 20px; } }

.portfolio-item__description {
  text-align: justify; }

.portfolio-item__tags {
  margin-bottom: 20px;
  justify-content: center; }

.tags {
  display: flex;
  flex-wrap: wrap; }

.tags__tag {
  font-family: "latoregular";
  background-color: #cacadc;
  font-weight: bold;
  color: #2A2A72;
  padding: 2px 8px 3px;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 10px;
  white-space: nowrap; }

.portfolio-image-wrapper {
  position: relative;
  max-width: 500px;
  margin: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.portfolio-buttons {
  width: 100%;
  background: #2A2A72;
  padding: 10px 0;
  display: flex;
  justify-content: space-around; }
  .portfolio-buttons .button {
    margin: 0;
    padding: 5px 10px; }
    .portfolio-buttons .button.screenshots {
      display: none; }
      @media (min-width: 767px) {
        .portfolio-buttons .button.screenshots {
          display: inline-block; } }

.carousel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); }

.carousel {
  margin: 0 100px; }

.carousel-caption {
  position: relative;
  width: 100%;
  left: 0;
  right: unset;
  background-color: #2A2A72;
  padding-bottom: 40px;
  bottom: 0; }

.carousel-indicators {
  bottom: -43px;
  margin: 0;
  background-color: #2A2A72;
  width: 100%;
  padding: 20px 0; }
  .carousel-indicators li:hover {
    cursor: pointer; }

.carousel-control-prev {
  width: 100px;
  left: -100px; }

.carousel-control-next {
  width: 100px;
  right: -100px; }

.carousel-item {
  width: 100%;
  max-width: 800px; }
