section.blog.section.section--dark
  .blog__container.max-width-container
    h2.section__title.section__title--blog Blog Articles
    p.blog__description
      | Here are my 6 most recent articles that i've written on 
      a(href='https://medium.com/@robertcooper_rc', target='_blank') Medium
      | .
    .api__loader
      div
      div
      div
      div
      div
    .blog__posts
      - for (var i = 1; i <= 6; i++)
        .post(id = "post" + i)
          .post__title-container
            a(target="_blank").post__title-link
              h3.post__title
          .post__statistics
            span.post__claps
            span.post__reading-time
          p.post__excerpt
          .post__tags.tags