doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Robert Cooper
    meta(name='author', content='Robert Cooper')
    // Facebook Open Graph & Twitter Meta
    meta(property='og:title', content='Robert Cooper | Web Developer')
    meta(property='og:description', content='Web developer in Montreal, QC, Canada. Robert is a big fan of beautiful UIs, drinking tea, tracking data, writting, and Apple products.')
    meta(property='og:image', content='http://www.robertcooper.me/img/robert-typing.jpg')
    meta(property='og:url', content='http://www.robertcooper.me')
    meta(name='twitter:card', content='summary_large_image')
    // Responsive View Meta
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico in the root directory
    link(rel='icon', href='/public/favicon.ico', type='image/x-icon')
    // iOS Saved Website App Icon
    link(rel='apple-touch-icon', href='/img/ios-icon.png')
    // iOS Saved Website App Title
    meta(name='apple-mobile-web-app-title', content='Robert Cooper')
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet")
    // Main Style
    if (environment === "development")
      link(rel='stylesheet', href='/css/main.css')
    else
      link(rel='stylesheet', href='/css/main.min.css')
  body
    
    include intro-header
    include about
    include statistics
    include blog
    include portfolio
      
    // Concatenated and Minified JS Files
    if (environment === "development")
      script(src='/js/index.js')
    else
      script(src='/js/index.min.js?v=1.1')
        
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-80196253-8','auto');ga('send','pageview');
