section.intro
  .intro__image
  .intro__content
    h1.intro__content-name Robert Cooper
    h2.intro__title
      | Web Developer
  .intro__social
    a(href='https://github.com/robertcoopercode', target='_blank').intro__social-icon
      i.fa.fa-github.fa-2x.fa-social
    a(href='https://codepen.io/robertcooper_rc/', target='_blank').intro__social-icon
      i.fa.fa-codepen.fa-2x.fa-social
    a(href='https://medium.com/@robertcooper_rc', target='_blank').intro__social-icon
      i.fa.fa-medium.fa-2x.fa-social
    a(href='https://twitter.com/RobertCooper_RC', target='_blank').intro__social-icon
      i.fa.fa-twitter.fa-2x.fa-social
    a(href='https://www.linkedin.com/in/robert-cooper/', target='_blank').intro__social-icon
      i.fa.fa-linkedin.fa-2x.fa-social
    a(href='mailto:hi@robertcooper.me').intro__social-icon
      i.fa.fa-envelope.fa-2x.fa-social