section.statistics.section.section--light
  .max-width-container
    h2.section__title.section__title--statistics Random Information
    .statistics__columns
      .statistics-column.statistics__column#github
        .statistics-column__title-container
          .keyboard.statistics-column__icon.statistics-column__icon-left
          h3.statistics-column__title Github Activity
          .keyboard.statistics-column__icon.statistics-column__icon-right
        .api.api--github
          .api__loader
            div
            div
            div
            div
            div
          .github-contributions
        p.api__info
          | Data gathered from a 
          a(href='https://github.com/robertcoopercode/github-contributions', target='_blank') custom
          |  API.
      .statistics-column.statistics__column#goodreads
        .statistics-column__title-container
          .book.statistics-column__icon.statistics-column__icon-left
          h3.statistics-column__title Currently Reading
          .book.statistics-column__icon.statistics-column__icon-right
        .api
          .api__loader
            div
            div
            div
            div
            div
          p.api__data-container
            span.api__data.api__data--book
        p.api__info
          | Data gathered from the 
          a(href='https://www.goodreads.com/api', target='_blank') Goodreads
          |  API.
      .statistics-column.statistics__column#twitter
        .statistics-column__title-container
          .tweet.statistics-column__icon.statistics-column__icon-left
          h3.statistics-column__title Latest Tweet
          .tweet.statistics-column__icon.statistics-column__icon-right
        .api
          .api__loader
            div
            div
            div
            div
            div
          p.api__data.api__data--tweet
        p.api__info
          | Data gathered from the 
          a(href='https://developer.twitter.com/en.html', target='_blank') Twitter
          |  API.
      .statistics-column.statistics__column#strava
        .statistics-column__title-container
          .running-man.statistics-column__icon.statistics-column__icon-left
          h3.statistics-column__title Last Run
          .running-man.statistics-column__icon.statistics-column__icon-right
        .api
          .api__loader
            div
            div
            div
            div
            div
          p.api__data-container.api__data-container--strava.running-date
            span.api__data
            span.api__data-description is the date of my last run.
          p.api__data-container.api__data-container--strava.running-distance
            span.api__data
            span.api__data-description km ran.
          p.api__data-container.api__data-container--strava.running-duration
            span.api__data
            span.api__data-description in duration.
        p.api__info
          | Data gathered from the 
          a(href='http://strava.com', target='_blank') Strava
          |  API.