@charset "UTF-8";
/*
 * ============================================================================
 * Table of Contents
 * -----------------------------------------------------------------------
 *     Variables
 *     Base Styles
 *     Global Style
 *     Intro Section
 *     Social Links
 *     Row Sections
 *     About Section
 *     Stats Section
 *     Blog Section
 *     Portfolio Section
 *     Responsive Design
 *     Screen loader
 *
 * ============================================================================
 */
/*
    ==========================================================================
    Variables
    ==========================================================================
 */
/*
   ==========================================================================
   Base styles
   ==========================================================================
*/
html {
  font-size: 1em;
  line-height: 1.4; }

/*
   ==========================================================================
   Global Style
   ==========================================================================
*/
@font-face {
  font-family: 'BeonMedium';
  src: url("/css/fonts/beon-webfont.eot");
  src: local("☺"), url("/css/fonts/beon-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/beon-webfont.woff") format("woff"), url("/css/fonts/beon-webfont.ttf") format("truetype"), url("/css/fonts/beon-webfont.svg#BeonMedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoregular';
  src: url("/css/fonts/Lato-Regular-webfont.eot");
  src: url("/css/fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/Lato-Regular-webfont.woff2") format("woff2"), url("/css/fonts/Lato-Regular-webfont.woff") format("woff"), url("/css/fonts/Lato-Regular-webfont.ttf") format("truetype"), url("/css/fonts/Lato-Regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("/css/fonts/OpenSans-Light-webfont.eot");
  src: url("/css/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/OpenSans-Light-webfont.woff") format("woff"), url("/css/fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("/css/fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: "open_sanslight", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #0099ff;
  font-family: "latoregular"; }

h2 {
  font-size: 2em;
  text-transform: uppercase; }

img {
  width: 100%;
  height: auto; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

#container {
  margin: 0;
  padding: 0; }

.max-width-container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  width: 100%; }

.button {
  background-color: #0099ff;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
  font-family: latoregular; }

.button:hover {
  background-color: #fff;
  color: #0099ff;
  text-decoration: none; }

a,
a:hover {
  color: #76949F; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* Fixes width of page being larger than viewport */
.row {
  margin-left: 0px;
  margin-right: 0px; }

/*
   ==========================================================================
   Intro Section
   ==========================================================================
*/
section.intro {
  background-image: url(../img/background-optimized.jpg);
  /* Fullscreen Background Image */
  background-size: cover;
  background-position: center;
  background-color: #2a2e39;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  color: #fff;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.intro-image {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.container-open .intro-image {
  background-color: #2a2e39;
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0); }

.intro-content {
  display: table-cell;
  font-size: 1.15em;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 10; }

.intro-title {
  color: #fff; }

.period {
  color: #0099ff; }

.logo {
  width: 100%;
  margin: -30px 0 25px; }

.logo img {
  width: 200px;
  height: auto; }

.text-logo {
  color: #0099ff;
  font-family: BeonMedium;
  font-weight: bold;
  font-size: 3em; }

.intro-title {
  font-size: 2em;
  font-weight: normal;
  margin: 15px 0;
  text-transform: uppercase; }

.content-div {
  width: 100%; }

span.api-data {
  font-size: 2em;
  padding-right: 10px; }

/*
   ==========================================================================
   Social Links
   ==========================================================================
*/
.social {
  bottom: 0;
  left: 0;
  margin: 10px;
  position: absolute;
  width: 100%;
  text-align: center; }

.fa-social {
  background: none repeat scroll 0 0 #0099ff;
  border: 0px solid #2098f5;
  color: white;
  height: 42px;
  line-height: 45px;
  text-align: center;
  width: 42px;
  margin-left: 2px;
  margin-right: 2px; }

.fa-social:hover {
  color: #2098f5;
  background: #fff; }

.icon rect, .icon line {
  fill: #0099ff;
  stroke: #0099ff; }

/*
   ==========================================================================
   Row Sections
   ==========================================================================
*/
section.row {
  padding: 80px 0px; }

section.row .title-section h2 {
  margin-bottom: 20px; }

.section-title {
  text-align: center; }

section:nth-child(even) {
  background-color: #2A2A72; }

section:nth-child(odd) h3,
section:nth-child(odd) p {
  color: #2A2A72; }

section a:not(.button) {
  color: #59D2FE; }

section#about p,
section#blog p {
  color: #fff; }

section:nth-child(odd):not(:first-child) h2 {
  border-bottom: 3px solid #2A2A72; }

/*
   ==========================================================================
   About Section
   ==========================================================================
*/
#about-container {
  display: table; }

.description-column,
.headshot-column {
  float: none;
  display: table-cell;
  vertical-align: middle; }

img.headshot {
  border-radius: 100%;
  border: 10px solid #0099ff;
  width: auto;
  max-width: 100%; }

/*
   ==========================================================================
   Stats Section
   ==========================================================================
*/
section#statistics {
  background-color: #fff; }

#statistics .max-width-container {
  text-align: center; }

#statistics h2 {
  padding: 0 10px;
  display: inline-block;
  margin: auto;
  margin-bottom: 40px; }

.statistics-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.statistics-column {
  max-width: 440px;
  padding: 30px 20px;
  border: 3px solid #2A2A72;
  border-radius: 4px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column; }

.api-data-section {
  text-align: center;
  margin: 20px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.fa-clock-o {
  color: #2A2A72; }

.title-section .fa-clock-o.left,
.title-section .running-man.left {
  margin-right: 20px; }

.title-section .fa-clock-o.right,
.title-section .running-man.right {
  margin-left: 20px; }

.title-section h3 {
  display: inline-block; }

.more-info {
  font-size: .8em;
  font-style: italic; }

.running-man {
  width: 30px;
  height: 30px;
  background: url("../img/running-man-animation.png") left center;
  background-size: cover;
  animation: play 0.4s steps(5) infinite;
  display: inline-block;
  margin-bottom: -3px; }

@keyframes play {
  100% {
    background-position: -150px; } }

.keyboard {
  width: 62.5px;
  height: 25px;
  background: url("../img/keyboard-pattern.png") left center;
  background-size: cover;
  animation: playKeyboard 1.5s steps(10) infinite;
  display: inline-block;
  margin-bottom: -3px; }

@keyframes playKeyboard {
  100% {
    background-position: -625px; } }

#github h3 {
  margin-left: 10px;
  margin-right: 10px; }

.api-data-section > *:not(.loader) {
  display: none; }

@keyframes loader {
  50% {
    transform: translateY(-16px);
    background-color: #99d6ff; } }

.loader {
  filter: url("#goo");
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  transform: translateY(40px); }
  .loader > div {
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #0099ff;
    animation: loader 0.8s infinite; }

.loader > div:nth-child(1) {
  animation-delay: 0.16s; }

.loader > div:nth-child(2) {
  animation-delay: 0.32s; }

.loader > div:nth-child(3) {
  animation-delay: 0.48s; }

.loader > div:nth-child(4) {
  animation-delay: 0.64s; }

.loader > div:nth-child(5) {
  animation-delay: 0.8s; }

.heart {
  animation: heartbeat 1s linear infinite both;
  display: inline-block; }

.heart.left {
  margin-right: 10px; }

.heart.right {
  margin-left: 10px; }

.heart svg {
  height: 35px; }

/* Generated with Bounce.js. Edit at https://goo.gl/h05rSW */
@keyframes heartbeat {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.1% {
    transform: matrix3d(1.022, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.1% {
    transform: matrix3d(1.036, 0, 0, 0, 0, 1.036, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.21% {
    transform: matrix3d(1.046, 0, 0, 0, 0, 1.046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% {
    transform: matrix3d(1.042, 0, 0, 0, 0, 1.042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.51% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.72% {
    transform: matrix3d(1.011, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.03% {
    transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.23% {
    transform: matrix3d(0.993, 0, 0, 0, 0, 0.993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.75% {
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.26% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.28% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

/*
   ==========================================================================
   Blog Section
   ==========================================================================
*/
#blog-posts {
  display: none; }

#blog .loader {
  transform: translateY(80px); }

section#blog a.button {
  padding: 5px 10px;
  margin-top: 0px; }

section#blog .post {
  margin: 30px 0; }

section#blog .post h3 a {
  color: #0099ff; }

/*
* ==========================================================================
    Portfolio Section
* ==========================================================================
*/
#portfolio .portfolio-tags span {
  background-color: #2A2A72;
  color: white;
  padding: 2px 8px 3px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 10px; }

.portfolio-item {
  width: 50%;
  display: inline-block; }

.portfolio-item:nth-child(odd) {
  padding-right: 20px; }

.portfolio-item:nth-child(even) {
  padding-left: 20px; }

.portfolio-item {
  margin-bottom: 40px; }

.portfolio-item p {
  margin-top: 10px; }

#portfolio p.description {
  margin-bottom: 40px; }

#portfolio h2 {
  display: inline-block;
  padding-right: 10px; }

#portfolio .button {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 5px 10px; }

#portfolio img {
  margin-top: auto; }

.carousel-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); }

.carousel-caption {
  width: 100%;
  left: 0;
  right: unset;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 40px;
  bottom: 0; }

.carousel-indicators {
  bottom: 0; }

/*
* ==========================================================================
    Responsive Design
* ==========================================================================
*/
@media only screen and (max-width: 767px) {
  .social {
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px; }
  .description-column,
  .headshot-column {
    display: block; }
  img.headshot {
    width: 250px;
    margin-top: 40px; }
  .statistics-column {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 360px; }
  #about-container {
    text-align: center; }
  #about-container p {
    text-align: justify; }
  section#blog p {
    text-align: center;
    max-width: 550px;
    margin: 0 auto 20px; }
  .title-section .right {
    display: none; }
  .title-section .left {
    display: block;
    margin: 10px auto 0 !important; }
  .title-section h3 {
    margin-top: 10px; }
  .portfolio-item {
    width: 100%;
    padding: 0 !important; } }

@media only screen and (max-width: 480px) {
  .logo {
    margin: -55px 0 25px; }
  .text-logo {
    font-size: 2em;
    margin: 0; }
  .intro-title {
    font-size: 1.5em;
    margin: 8px 0; } }

@media only screen and (max-width: 320px) {
  .intro {
    position: absolute; }
  .text-logo {
    font-size: 3em;
    margin: 0; }
  .intro-title {
    font-size: 1.3em;
    margin: 5px 0 10px; }
  .countdown {
    margin: -10px 0 10px; }
  .countdown li span {
    font-size: 3em; }
  .countdown li p {
    margin: -15px 0 5px; }
  .countdown li.seperator {
    font-size: 9px;
    line-height: normal;
    margin-top: 28px;
    vertical-align: top; }
  .container-open .notify-after {
    bottom: 60px;
    left: 10%; }
  .notify-after .form-group {
    float: left; } }

@media only screen and (min-width: 481px) and (max-width: 568px) {
  .intro-content {
    padding: 2%; }
  .logo {
    margin: -45px 0 25px; }
  .text-logo {
    font-size: 2em;
    margin: 0; }
  .intro-title {
    font-size: 2em;
    margin: -30px 0 5px; } }

@media only screen and (min-width: 569px) and (max-width: 736px) {
  .logo {
    margin: 0 0 20px; }
  .text-logo {
    margin: -60px 0 0; }
  .intro-title {
    font-size: 2em;
    margin: -25px 0 5px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .intro-title {
    font-size: 3em; } }
